*{
    /* border: 0px solid red; */
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.card{
    /* border: 1px solid black; */
    width: max-content;
    text-align: center;
    display: inline-block;
    margin: 5px;
    border: 1px solid black;
    
}
.card img{
    width:200px;
    padding:5px;
}

.cart{
    border: 2px solid gray;
    width:120px;
    float: right;
    height: 95vh;
    overflow-y:scroll;
    text-align: center;
    background: black;
    color: wheat;
}

.cartImg img{
    display: block;
    background: yellow;
    width: 100%;
}
.cartImg{
    border:2px solid black;
    margin: 5px;
}
