*{
    /* border: 0px solid red; */
    font-family: cursive;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
}
.card{
    /* border: 1px solid black; */
    width: max-content;
    text-align: center;
    display: inline-block;
    margin: 5px;
}
.card img{
    width:300px;
    padding:5px;
}

.cart{
    border: 2px solid gray;
    width:200px;
    float: right;
    height: 95vh;
    overflow-y:scroll;
    text-align: center;
}

.cartImg img{
    display: block;
    background: yellow;
    width: 100%;
}
.cartImg{border-bottom:2px solid black;}
